%tr
  %td
    = link_to [address.first_name, address.family_name].join(" "), '#', 'data-directory-lookup-selector' => @selector, 'data-directory-lookup-attributes' => h(address.to_vcard_attributes.to_json)
  %td= address.street
  %td= [address.zip_code, address.city].join(" ")
